body {
    padding-bottom: 25%;
}

#batman-showing,
#show2,
#show3,
#hideall {
    display: none;
}

.clickable,
.clickable2,
.clickable3,
#showall,
#hideall,
.unstyled {
    cursor: pointer;
    color: #0088cc;
}

.clickable:hover,
.clickable2:hover,
.clickable3:hover,
#showall,
#hideall {
    text-decoration: underline;
}

#joker {
    width: 300px;
    height: 300px;
}

.color {
    border-top: 3px inset gray;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 25px;
    text-align: center;
    background-color: antiquewhite;
}

.green-background {
    background-color: rgb(24, 82, 24);
    color: chartreuse;
}

.yellow-background {
    background-color: rgb(111, 111, 21);
    color: yellow;
}

.red-background {
    background-color: rgb(99, 5, 5);
    color: red
}

.yellbg {
    border-top: 3px inset gray;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 25px;
    text-align: center;
    background-color: rgb(118, 118, 24);
}

.greenbg {
    border-top: 3px inset gray;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 25px;
    text-align: center;
    background-color: rgb(22, 136, 22);
}

.redbg {
    border-top: 3px inset gray;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 25px;
    text-align: center;
    background-color: rgb(109, 32, 32)
}

#story {
    display: none;
}